html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.margin-auto {
  margin: 0 auto;

}

.width-container {
  width: calc(100% - 40px);
  max-width: 1040px;
  padding: 0 20px;
}

.header {
  background-color: #45ac89;
  height: 125px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.title-1 {
  color: white;
  text-align: center;
  font-family: "Chango", sans-serif;
  font-size: 45px;
  text-shadow: 5px 5px 5px #227759;
  margin: 0;
}
.explanation-container {
  display: flex;
  flex-direction: column;
  align-items: normal;
  align-content: normal;
  border: solid 4px #1b7157;
  border-radius: 10px;
  padding: 40px;
  background-color: rgb(219 255 243 / 0.78);

}

.title-2 {
  font-size: 30px;
  margin: 0 0 15px 0;
  text-decoration: underline;
}

.explanation {
  font-size: 15px;
  line-height: 1.5;
  margin: 0 0 15px 0;

}

.wikipedia-source {
  font-size: 10px;
}

.title-2 {
  text-decoration: underline;
  font-family: "Averia Sans Libre", sans-serif;
  font-size: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 40px;
  padding-bottom: 40px;
}

.top-container {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.missing-value {
  color: #aa0000;
  font-size: 15px;
  margin: 0 0 10px 0;
  width: 100%;
}

.word-textarea {
 display: flex;
 flex-direction: column;
  width: 100%;
}

.terminaison-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 30px;
}

.label {
  font-size: 20px;
  width: 100%;
}
.textarea {
  width: calc(100% - 20px);
  height: 100px;
  margin : 10px 0 2px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #1b7157;
  border: none;
  resize: vertical;
  transition-property: box-shadow;
  transition-duration: 400ms;
}

.textarea:hover {
  box-shadow: 0 0 0 3px #45ac89;
}

.select {
  width: 100%;
  height: 50px;
  margin : 10px 0 2px 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #1b7157;
  border: none;
  transition-property: box-shadow;
  transition-duration: 400ms;
}

.select:hover {
  box-shadow: 0 0 0 3px #45ac89;
}

.error .textarea,
.error .select {
  box-shadow: 0 0 0 1px #aa0000;
}

.advice {
  text-align: left;
}

.advice-message {
  font-size: 10px;
}

.send-button {
  width: 150px;
  height: 35px;
  background-color: #7ad8b8;
  text-align: center;
  color: black;
  border: solid 2px #1b7157;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  font-size: 17px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.send-button:hover {
  background-color: #a5e6d0;
}

.response-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex: 1;
  margin: 20px 0;
  border: solid 3px #1b7157;
  border-radius: 10px;
  padding: 40px;
  position:relative;
}

.response{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-bottom: auto;
}
.response-title-container {
  margin-bottom: 10px;
}

.response-title {
  font-size: 20px;
  text-decoration: underline;
}

.response-text {
  margin-top: 10px;
  font-size: 15px;
  max-width: 1040px;
  line-height: 22px;
}

.footer {
  background-color: #45ac89;
  width:100%;
  height: 125px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: auto;
  position: relative;
}
.footer-text {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.footer-text .little {
  font-size: 14px;
}

.github-logo {
  display: flex;
  color: #000000;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition-property: fill;
  transition-duration: 800ms;
}

.copy-button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: 0;
  border: 0;
  position: absolute;
  top:0;
  right: 0;
  cursor: pointer;
  svg {
    width: 20px;
    height: 20px;
  }
}
.copy-success,
.copy-fail {
  font-size: 12px;
  position:absolute;
  top:8px;
  opacity: 0;
  right: 20px;
  transition-property: opacity, right;
  transition-duration: 0.5s;
  user-select: none;
  pointer-events: none;
}
.copy-success.show,
.copy-fail.show {
  opacity: 1;
  right: 40px;
}
.copy-success {
  color: #1b981b;
}
.copy-fail {
  color: #aa0000;
}

.github-logo:hover {
  fill: #ffffff;
}

a {
  text-decoration: underline;
  color: #03231a;
  transition: text-decoration 4s, color 4s;
}

a:hover {
  text-decoration: none;
  color: #025a3b;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .body {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .body {
    width: 100%;
    height: 100%;
  }
  .title-1 {
    font-size: 30px;
    margin: 0 10px;
  }
}