html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #45ac89;
}

.title {
  color: white;
  text-align: center;
  height: 100px;
  font-family: "Coiny", system-ui;
  font-size: 50px;
  text-shadow: 5px 5px 5px #227759;
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 0 0 ;
}

.missingValue {
  color: #ff0000;
  font-size: 15px;
  margin: 0 0 10px 0;
}

.word-input {
 display: flex;
 flex-direction: column;
}

.terminaison-input {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 25px;
}
.input {
  width: 250px;
  height: 50px;
  margin : 20px 0 2px 0;
}

.select {
  width: 250px;
  height: 50px;
  margin : 20px 0 2px 0;
  cursor: pointer;
}

.send-button {
  width: 150px;
  height: 35px;
  background-color: #7ad8b8;
  text-align: center;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0 0 0;
}

.send-button:hover {
  background-color: #a5e6d0;
}
.response {
  max-width: 387px;
  margin: 20px 0 0 0;
  border-color: black;
}

.footer {
  background-color: #45ac89;
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  text-align: center;
}